<!doctype html>
<html lang='en'>
<meta charset='utf-8'/>
<meta name='theme-color' content='#000000'/>
<meta name='viewport' content='width=device-width, initial-scale=1'/>
<title>{{title}}</title>
<link href='/style.css' rel='stylesheet'>
<link rel='icon' href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚢</text></svg>'>
<nav>
<ul class='menu row'>
<li><a href='/'>
<h1>DailyShip 🚢</h1>
</a>
<li><a href='https://qchat.rizon.net/?channels=dailyship'>Chat</a>
<li><a href='https://github.com/hackdash/dailyship'>Code</a>
<li><a href='/news'>News</a>
</ul>
</nav>
{{content}}
