* {box-sizing: border-box;}
:root {
	--accent: #A080C0;
	color-scheme:dark;
}
body {
	background:#002040;
	color:#F0F0F0;
	font-family:'Roboto',sans-serif;
	font-size:16px;
	line-height:1.5;
	margin:0 1em 1em;
}
a {
	color:#FFAAAA;
	text-decoration:none;
}
a:hover {background:#001020;}
h1 {
	margin:0;
	font-variant: small-caps;
}
hr, .menu {
	border-color: #008080;
	border-style:dotted;
	border-width:0 0 .5em;
	margin:1em -1em;
}
nav a, nav .a {
	display:block;
	line-height: 2;
	padding:0 1rem;
}
nav li {list-style: none;}
nav ul {padding:0;margin:0 -1rem;}
ul {margin:0;}
.menu {
	border-width:0 0 1em;
}
.menu a {padding-top:1.5rem;}
.menu a h1 {margin-top:-1.5rem;}
.row li:last-child {flex-grow:1;}
.big {font-size:2em;}
.grow {flex-grow:1;}
.row {display:flex;flex-direction:row;}
